flows.json
[
    {
        "id": "61e466825a745679",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a199a4c44af7574b",
        "type": "http in",
        "z": "61e466825a745679",
        "name": "",
        "url": "/improveCopy",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "c01462b1e06c53c1",
                "cfaae26a5b701cef"
            ]
        ]
    },
    {
        "id": "c01462b1e06c53c1",
        "type": "function",
        "z": "61e466825a745679",
        "name": "improveCopy",
        "func": "msg.OPENAI_API_KEY = msg.payload.openAIKey;\nmsg.model = msg.payload.GPTmodel;\nmsg.messages = [\n    {\n        role: \"system\",\n        content: `Your task is to improve the user's text to avoid plagiarism. Write 5 variants of this text in the format below:\n        option 1: Here is the first variant;\n\n        option 2: ... ;\n\n        option 3: ... ;\n\n        option 4: ... ;\n        \n        option 5: ... .\n        `,\n    },\n    {\n        role: \"user\",\n        content: msg.payload.inputText\n    },\n];\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 100,
        "wires": [
            [
                "fd83e4521a040251"
            ]
        ]
    },
    {
        "id": "fd83e4521a040251",
        "type": "openai-ubos",
        "z": "61e466825a745679",
        "name": "",
        "model": "gpt-3.5-turbo",
        "temperature": 0.5,
        "max_tokens": 2000,
        "prompt": "",
        "frequency_penalty": 0,
        "presence_penalty": 0,
        "top_p": 1,
        "stop": {
            "type": "json",
            "value": "[]"
        },
        "OPENAI_API_KEY": "",
        "x": 560,
        "y": 100,
        "wires": [
            [
                "762f6ad7ca333439",
                "deb47dd2d705c934"
            ]
        ]
    },
    {
        "id": "762f6ad7ca333439",
        "type": "function",
        "z": "61e466825a745679",
        "name": "result",
        "func": "global.set('outputText', msg.payload.choices[0].message.content);\n\n\nif (msg.statusCode == 200) {\n    msg.payload = msg.payload.choices[0].message.content;\n} else {\n    msg.payload = 'Oooops something went wrong 😔';\n}\n\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 100,
        "wires": [
            [
                "deb47dd2d705c934",
                "107c0afcaad482da"
            ]
        ]
    },
    {
        "id": "cfaae26a5b701cef",
        "type": "debug",
        "z": "61e466825a745679",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 180,
        "y": 140,
        "wires": []
    },
    {
        "id": "deb47dd2d705c934",
        "type": "debug",
        "z": "61e466825a745679",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 140,
        "wires": []
    },
    {
        "id": "107c0afcaad482da",
        "type": "http response",
        "z": "61e466825a745679",
        "name": "improveCopy",
        "statusCode": "",
        "headers": {},
        "x": 900,
        "y": 100,
        "wires": []
    },
    {
        "id": "30e5d1fcd68f080e",
        "type": "http in",
        "z": "61e466825a745679",
        "name": "",
        "url": "/css",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 40,
        "wires": [
            [
                "726cb4f6ad6ac6fd"
            ]
        ]
    },
    {
        "id": "726cb4f6ad6ac6fd",
        "type": "template",
        "z": "61e466825a745679",
        "name": "css",
        "field": "payload",
        "fieldType": "msg",
        "format": "css",
        "syntax": "mustache",
        "template": ".bodyContainer {\n    padding: 0 !important;\n    top: 50vh !important;\n    left: 50vw !important;\n    transform: translate(-50%, -50%);\n}\n\n.logoText span {\n    font-size: 30px !important;\n    text-align: center !important;\n}\n\n.logoText span::first-letter {\n    font-size: 50px !important;\n}\n\n.buttonImprove span {\n    color: white !important;\n}\n",
        "output": "str",
        "x": 250,
        "y": 40,
        "wires": [
            [
                "77fce1906ee6548b"
            ]
        ]
    },
    {
        "id": "77fce1906ee6548b",
        "type": "http response",
        "z": "61e466825a745679",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "text/css"
        },
        "x": 370,
        "y": 40,
        "wires": []
    }
]